/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;500;600;700;900&family=Roboto+Slab&display=swap");

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  margin-left: 100;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Smooth scrolling */
html {
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/* Some Variables */

:root {
  --green-color: #3cb815;
  --light-green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #ff8800;
  --text-color: #1a2428;
  --bg-color: #fff;
}
/*Custom Scroll bar*/
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--light-green-color);
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: var(--green-color);
  border-radius: 5rem;
}

section {
  padding: 4.5rem 0 1.5rem;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  /* box-shadow: 0 8px 11px rgb(14 55 54 / 15%); */
  padding: 5px 20px;
  transition: 0.5s;
}

.logo {
  width: 220px; 
  height: 100px; 
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.logo img {
  margin-right: 50px;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile span {
  font-size: 13px;
  font-weight: 500;
  margin-right: 35px; 
}

.navbar {
  display: flex;
  column-gap: 0.5rem;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
}

.navbar a:hover,
.navbar .home-active {
  background: var(--green-color);
  border-radius: 5rem;
  color: var(--bg-color);
  transition: background 0.5s;
}

.shopping {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  margin-left: 850px;
}


.shopping:hover {
  color: var(--green-color);
}

.cart-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.cart-list .item{
  text-align: center;
  background-color: #DCE0E1;
  padding: 20px;
  box-shadow: 0 50px 50px #757676;
  letter-spacing: 1px;
}
.cart-list .item img{
  width: 90%;
  height: 430px;
  object-fit: cover;
}
.cart-list .item .title{
  font-weight: 600;
}


.cart-list .item .price{
  margin: 10px;
}

.cart-list .item button{
  background-color: #1C1F25;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.card{
  position: fixed;
  top:0;
  left: 100%;
  width: 500px;
  background-color: #453E3B;
  height: 100vh;
  transition: 0.5s;
}

.active .card{
  left: calc(100% - 500px);
}

.active .container{
 transform: translateX(-200px);
}

.card h1{
  color: #E8BC0E;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.card .checkOut{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div{
  background-color: #E8BC0E;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.card .checkOut div:nth-child(2){
  background-color: #1C1F25;
  color: #fff;
}

.listCard li{
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}

.listCard li div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img{
  width: 90%;
}

.listCard li button{
  background-color: #fff5;
  border: none;
}

.listCard .count{
  margin: 0 10px;
}


.slider {
  width: 1150px;
  max-width: 100vw;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 0.5s;
}
.slider .list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}
@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}

.btn1 {
  padding: 0.6rem 1rem;
  background: var(--green-color);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  max-width: 160px;
}

.btn1 .bx {
  padding: 4px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  font-size: 20px;
  margin: auto;
}

.btn1:hover {
  background: var(--light-orange-color);
  transition: 0.2s ease;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.heading span {
  color: var(--green-color);
}

.categories {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(21rem, 1fr)
  ); 
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  width: 100%; 
}

.about-text span {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}

.about-text p {
  margin: 0.5rem 0 1rem;
}

.footer {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, auto)
  ); 
  gap: 1.5rem;
  margin-top: 2rem;
  background: #d8bca2;
  border-radius: 0.5rem;
  padding: 10px; 
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1rem;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social .bx {
  padding: 10px;
  background: var(--bg-color);
  color: var(--green-color);
  border-radius: 5rem;
  font-size: 20px;
}

.bx-size {
  width: 25px;
  height: auto;
  margin-top: 12px;
}

.social .bx:hover {
  background: var(--green-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.footer-box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-box a {
  color: #868a92;
  margin-bottom: 1rem;
}

.footer-box a:hover {
  color: var(--light-orange-color);
}

.footer-box form {
  border-bottom: 1px solid var(--text-color);
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.footer-box form input {
  background: transparent;
  border: none;
  outline: none;
}

.footer-box form .bx {
  font-size: 20px;
  color: var(--light-orange-color);
  cursor: pointer;
  margin-left: -10px; 
}

.footer-box form .bxs-envelope {
  color: var(--green-color);
}

.copyright {
  text-align: center;
  padding: 20px;
}

/* menubar */


/* Sidebar */
.sidebar {
  position: fixed;
  top: 105px;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: white;
  transition: all 0.5s ease;
  z-index: 100;
}



.sidebar.close {
  width: 78px;
}



.sidebar-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar-list::-webkit-scrollbar {
  display: none;
}

.sidebar-list li {
  transition: all 0.5s ease;
}

.sidebar-list li:hover {
  background-color: var(--color_Dark2);
}

.sidebar-list li .title {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 15px;
}

.sidebar-list li.active .title {
  background-color: var(--green-color);
}

.sidebar-list li.active .bxs-chevron-down {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}

.sidebar-list li .title .link {
  display: flex;
  align-items: center;
  color: #1a2428;
}

.sidebar-list li .title i {
  height: 30px; /* Adjust the height as needed */
  min-width: 30px; /* Adjust the width as needed */
  text-align: center;
  line-height: 30px; /* Adjust the line-height as needed */
  color: #1a2428;
  font-size: 16px; /* Adjust the font-size as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

.sidebar-list li .title .name {
  font-size: 16px; /* Adjust the font-size as needed */
  font-weight: 400;
  color: #1a2428;
}

.sidebar-list li .title .link img {
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Adjust the margin as needed */
}



/**/


#product_body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 150px;
  margin-left: 300px;
}

.product-price{
  text-align: left;
}
.product-name{
  text-align: left;
}

.desktop-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  height: auto;
}

.desktop-item button {
  display: flex;
  margin-top: 10px; 
  background-color: transparent;
  border: none;
  background-color: var(--green-color);
  cursor: pointer;
  font-size: inherit;
  align-items: center;
  padding: 12px;
  border-radius: 30px; /* Added 'px' unit to border-radius */
  transition: color 0.3s ease; /* Added smooth transition for color change */
  color: var(--bg-color);
  font-weight: bold;
}

.desktop-item button:hover {
  background-color: var(--light-orange-color);
}



.product-img {
  max-width: 300px;
  height: 300px;
  object-fit: cover;
}

#default-home {
  margin-top: 60px;
}


#cart-body {
  display: grid;
  width: 380px;
  min-height: auto;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.123);
  z-index: 50;
  overflow-y: auto; 
  overflow-x: hidden; 
  margin-top: 130px;
  
}


#cart-body .cart-body {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
}

.cart-item {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; 
  margin-bottom: 10px; 
  padding: 10px;
}

.cart-img {
  height: 100px;
  width: 100px;
}

.remove-cart-btn {
  background: none;
  border: none;
  outline: none;
  padding: 4px;
  cursor: pointer;
  background-color: red;
  color: var(--bg-color);
  font-weight: bold;

}